// Primary Colors
$magenta: hsl(300, 43%, 22%);
$pink: hsl(333, 80%, 67%);

//Neutral Colors
$neutral-1: hsl(303, 10%, 53%);
$neutral-2: hsl(300, 24%, 96%);
$neutral-3: hsl(0, 0%, 100%);

// Border-radius
$radius: 0.5rem;

//Line-Height
$line-height: 1.5rem;
